# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE

# dists
/dist
/integration_dist
.env
/cdk.out

# env
**/**/env.json
**/**/atlas-core-artifact.json

# tests
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
/benchmarks/memory
build/config\.gypi
