{
    "HelloWorldStack": {
      "apiUrl": "https://b6yeb630c1.execute-api.sa-east-1.amazonaws.com/integration-test/",
      "apiEndpoint9349E63C": "https://b6yeb630c1.execute-api.sa-east-1.amazonaws.com/integration-test/"
    }
  }
  